@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bgGrid {
  background-size: 30px 30px;
  background-image: linear-gradient(to right, gray 0.1px, transparent 0.3px),
    linear-gradient(to bottom, gray 0.1px, transparent 0.3px);
}

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }